<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Libros_basededatos.Properties.Settings.TI2021_JaironConnectionString"
            connectionString="Data Source=DESKTOP-GIBA0R2\SQLEXPRESS;Initial Catalog=TI2021_Jairon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>